[Desktop Entry]
Categories=System
Comment=A simple tool that attempts to determine if a drive is a fake or not.
Exec=CapacityTester
Icon=CapacityTester
Keywords=drive;fake;flash;usb
Name=Capacity Tester
Terminal=false
Type=Application
